@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


/* header */
.header {
    padding: 15px 0px;
    margin: 0;
    display: grid;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    position: fixed;
    top: 0;
    z-index: 990;
    /* border-bottom: 1px solid #00b0ea2c; */
    box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.123);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(189,182,189,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(189,182,189,1);
    box-shadow: 0px 0px 15px 0px rgba(189,182,189,1);
    background-image: url(../images/header-image.png);
    background-attachment: fixed;
    cursor: pointer;
}

.header_inner {
    width: 90%;
    justify-self: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.activeLink {
    margin: 50px;
}

/* logo */
.logo {

    padding: 0px 8px;
}


.logo img {
    height: 30px;
}


/* menu */
.menu {

width: 100%;
}

.menu ul.menu_links {
    display: flex;
    list-style-type: none;
    align-items: center;
}


.menu ul.menu_links .router_link {
    font-family: 'DM Sans', sans-serif;
    position: relative;
    color: #121212;
    font-size: 14px;
    padding: 5px 0px;
    font-weight: 500;
}


#product{
    font-family: 'DM Sans', sans-serif;
    color: #121212;
    font-weight: 500;
 
}




.left{
    display: flex;
}



.right{
    float: right;
 position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    margin-right: 5%;
}


.dropdownIcon{
    margin-top: 3px;
    position: absolute;
    margin-left: 3px;
}


.dropdown_wrap{
    
}


.dropdown{
    position: absolute;
    -webkit-box-shadow: 0px 7px 15px -7px rgba(189,182,189,1);
    -moz-box-shadow: 0px 7px 15px -7px rgba(189,182,189,1);
    box-shadow: 0px 7px 15px -7px rgba(189,182,189,1);
    z-index: 990;
    margin-top: 30px;
    background-color: #ffffff;
    padding: 0px 30px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.123);
    display: none;
}


.dropdown .dropdown_item{
    margin: 10px 0px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

.dropdown .dropdown_item:hover{
 background-color: rgba(116, 114, 114, 0.068);
}
.dropdown .router_link h4, .dropdown .router_link p{
 margin: 5px 0px;
 letter-spacing: 0.7px;
}

.dropdown .router_link h4{
    font-size: 15px;
}

.dropdown .router_link p{
    color: #8C7E90;
}

.dropdown_wrap:focus .dropdown{
    display: block;
}







.active {
    color: #4E93F4 !important;
    transition: 0.5s linear;
}

.menu ul.menu_links li {
    padding: 0px 20px;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Mulish', serif;
}




#country{
    font-size: 20px;
}


/* sm_cntrl: controls the navigation bar on small screen */

.sm_cntrl {
    display: none;
}













/* media queries */

@media screen and (max-width:850px) {

    .logo img {
        height: 60px;
    }

    .menu ul.menu_links li {
        padding: 0px 10px;
    }

}



@media screen and (max-width:1160px) {



    .logo img {
        height: 25px;
    }



    .header_inner .menu {
        display: none;
    }


    /* menu that displays on small screen */
    .sm_menu {
        width: 100%;
        margin-top: 50px;
        background: #ffffff;
        background-attachment: fixed;
        top: 0;
        left: 0;
        position: absolute;
        animation: zoom-in-zoom-out 1s ease;
        z-index: 990;
        overflow: auto;
        height: 100vh;
    }

    .sm_menu ul.menu_links {
        display: grid;
        list-style-type: none;
        align-items: center;
    }
    


    .left{
        display: grid;
    }

    .right{
     position: unset;
        right: unset;
        display: grid;
        align-items: start;
    }

    .dropdown_wrap{
        margin: 0px 5%;
    }
    


    /* animation that zooms out the navigation menu on small screen */
    @keyframes zoom-in-zoom-out {

        0% {
            transform: skew(0deg);
            margin-top: 100%;
        }

    }

    .sm_menu ul.menu_links {
        display: grid;
        padding: 0;
        list-style-type: none;
        align-items: center;

    }

    .sm_menu ul.menu_links .router_link {
        color: #213547;
        font-size: 14px;
        position: relative;
    }






    .sm_menu ul.menu_links li {
        padding: 15px 0px;
        font-size: 13px;
        border-bottom: 1px dotted #00b0ea2c;
        width: 90%;
        justify-self: center;
        font-weight: bold;
        color: white;
    }


    .sm_menu ul.menu_links li.button {
        grid-row: 6;
        border: none;
    }



    /* sm_cntrl" gets displayed on small screen */
    .sm_cntrl {
        right: 0;
        position: absolute;
        margin-right: 10%;
        display: block;
    }

    .sm_cntrl .cntrl {
        background:#213547;
        font-size: 23px;
        cursor: pointer;
        color: white;
        padding: 8px;
        border-radius: 10%;
    }

}