@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

.Reviews {
    display: grid;
    align-items: center;
    margin-top: 80px;
}
.ReviewsIntro h3{
    text-align: center;
    font-size: 45px;
}

.ReviewsIntro p{
    text-align: center;
    font-size: 18px;
    color: #777E90;
}
.ReviewsWrap{
    overflow:auto;
    scroll-behavior: smooth;
}


.ReviewsInner {
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
justify-content: space-between;
    align-items: stretch;
padding: 50px 0px;
    width: 115%;
}

.ReviewsBox {
    width: 82%;
    justify-self: center;
    padding: 20px 25px;
    display: grid;
background-color: #F9FAFB;
margin: 0px 50px;
}

.user{
    display: flex;
    align-items: center;
}
.user img{
    height: 25px;
    margin-right: 10px;
}
.user h5{
    color: #141416;
    font-weight: 800;
    font-size: 14px;
}

.ReviewsBox h3 {
    font-size: 32px;
    color: #141416;
    width: 70%;
    margin: 10px 0px;
}



.ReviewsBox p {
    font-size: 15px;
word-spacing: 1px;
line-height: 28px;
}

.starIcon{
    font-size: 19px;
    color: #006DF7;
    margin: 0px 10px;
}


.controls {
display: flex;
justify-content: end;
}

.controls button{
    background-color: #151515;
    color: #FFFFFF;
    margin: 20px;
}




/* media queries */


@media screen and (max-width:768px) {

    .Reviews {
        margin-top: 50px;
    }

    .ReviewsIntro h3{
        font-size: 30px;
    }

    .ReviewsInner {
            grid-template-columns: 1fr 1fr;
        }
        
        .ReviewsBox {
            width: 80%;
           margin: 20px 20px;
            display: grid;
        }

}


@media screen and (max-width:539px) {

    .ReviewsIntro h3{
        font-size: 26px;
    }
    
    .ReviewsIntro p{
        font-size: 15px;
    }

    .ReviewsInner {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .ReviewsBox {
        width: 80%;
        justify-self: center;
       margin: 20px 0px;
        display: grid;
    }

    .controls{
        display: none;
    }

}